
/* Contenedor del switch */

#Switch-tittle {
    position: fixed;
    top: 63%;
    left: 2%;
    background-color: transparent;
    font-size: small;
}
.switch {
    position: fixed;
    top: 65%;
    left: 2%;
    width: 60px;
    height: 30px;
    background-color: transparent;
  }
  
  /* Input (checkbox) oculto */
  .switch-input {
    display: none;
  }
  
  /* Estilo del fondo del switch */
  .switch-label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#152039;
    border-radius: 30px;
    
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Estilo del círculo del switch */
  .switch-label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambios al activar el switch */
  .switch-input:checked + .switch-label {
    background-color:#ffa90a;
  }
  
  .switch-input:checked + .switch-label::after {
    transform: translateX(30px);
  }

  @media (max-width: 834px){
    .switch , #Switch-tittle {
      opacity: 0;
      margin-left: 1000px;
    }
  }