
/* Contenedor del switch */

#Switch-tittle-languaje {
    position: fixed;
    top: 50%;
    left: 2%;
    background-color: transparent;
    font-size: small;

}

.switch-languaje{
    position: fixed;
    top: 52%;
    left: 2%;
    width: 60px;
    height: 30px;
    background-color: transparent;
  }
  
  /* Input (checkbox) oculto */
  .switch-input-languaje{
    display: none;
  }
  
  /* Estilo del fondo del switch */
  .switch-label-languaje {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#152039;
    border-radius: 30px;
    
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Estilo del círculo del switch */
  .switch-label-languaje::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambios al activar el switch */
  .switch-input-languaje:checked + .switch-label-languaje {
    background-color:#48b30b;
  }
  
  .switch-input-languaje:checked + .switch-label-languaje::after {
    transform: translateX(30px);
  }
