@charset "UTF-8";
* {
  background-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #FFFFF6;
  padding: 0;
  margin: 0;
}
* .spanish {
  position: sticky;
  opacity: 0;
  z-index: 1;
  top: auto;
}
* .english {
  z-index: 2;
}

@media (min-width: 835px) {
  body {
    background-image: url("images/background-pic-dark.png");
    background-size: cover;
    background-attachment: scroll;
    animation: Op0To100 0.2s ease-in;
    display: grid;
    grid-template-areas: "header  aside" "studies studies" "exp     exp" "project project" "footer  footer";
    grid-template-columns: minmax(460px, 730px);
    justify-content: center;
    align-items: center;
  }
  #personal-data {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: header;
    padding: 10px 20px;
    margin: 10px;
    height: 300px;
    border: 1px solid #53FFBA;
    animation: Op0To100 0.8s ease-in;
    border-radius: 15px;
  }
  #personal-data .tittle {
    width: 400px;
    height: 40px;
  }
  #personal-data .subtittle {
    color: #53FFBA;
    width: 400px;
    height: 40px;
  }
  #personal-data .presentation {
    font-size: 16px;
    width: auto;
    height: 80px;
  }
  #personal-data #tecnologies {
    font-size: 18px;
    margin: 5px;
    padding-top: 25px;
  }
  #personal-data div {
    display: flex;
    justify-content: end;
  }
  #personal-data div img {
    width: 8%;
    margin: 10px 15px;
    animation: Op0To100 0.8 ease 2s 1;
  }
  #personal-data div img:hover {
    animation: hover-img 0.4s ease;
    cursor: pointer;
  }
  #aditional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    grid-area: aside;
    width: 300px;
    height: 300px;
    border: 1px solid #53FFBA;
    animation: Op0To100 0.8s ease-in;
    border-radius: 15px;
  }
  #aditional-info p {
    font-size: 16px;
    margin: 15px;
    margin-top: 25px;
    width: auto;
  }
  #aditional-info .download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px;
    margin-top: auto;
    padding: 10px;
    width: 150px;
    height: 65px;
    transition: 0.5s ease-in;
    color: #261447;
    background-color: #53FFBA;
    text-decoration: none;
    border-radius: 5px;
  }
  #aditional-info .download-btn:hover {
    background-color: #261447;
    color: #53FFBA;
    animation: hover-btn-dark 0.4s ease-in normal;
  }
  .background-education {
    grid-area: studies;
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(2, minmax(350px, 500px));
    gap: 20px;
    border-radius: 15px;
    background-color: transparent;
  }
  .background-education #Web-design {
    animation: Op0To100LR 0.8s ease-in-out;
    border-radius: 15px;
  }
  .background-education #javascript-1 {
    animation: Op0To100RL 0.8s ease-in;
    border-radius: 15px;
  }
  .background-education div {
    display: grid;
    padding: 10px;
    border: 1px solid #53FFBA;
    align-items: start;
  }
  .background-education div h1 {
    margin: 0;
    font-size: 28px;
  }
  .background-education div h2 {
    margin: 0;
    font-size: 24px;
    color: #53FFBA;
  }
  .background-education div p {
    font-size: large;
  }
  .background-education div img {
    width: 100%;
    opacity: 60%;
    margin: 5px 3px;
    border-radius: 5px;
    transition: 0.4s ease-in, 0.4s ease-out;
    justify-self: center;
  }
  .background-education div img:hover {
    transition: 0.5s ease-in-out, 0.5s ease-out;
    opacity: 100%;
    width: 103%;
    border-radius: 0;
  }
}
@media (max-width: 834px) {
  body {
    display: grid;
    grid-template: "header" "aside" "studies" "exp" "project" "footer";
    background-image: url("images/background-pic-dark.png");
    background-size: auto;
    background-attachment: scroll;
    animation: Op0To100 0.2s ease-in;
    justify-content: start;
    align-items: start;
    width: 100vw;
  }
  #personal-data {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-area: header;
    padding: 10px 20px;
    margin: 10px;
    height: 300px;
    border: 1px solid #53FFBA;
    animation: Op0To100 0.8s ease-in;
    border-radius: 15px;
    width: 95%;
  }
  #personal-data .tittle {
    width: 400px;
    height: 40px;
  }
  #personal-data .subtittle {
    color: #53FFBA;
    width: 400px;
    height: 40px;
  }
  #personal-data .presentation {
    font-size: 18px;
    width: auto;
    height: 80px;
  }
  #personal-data #tecnologies {
    font-size: 20px;
    padding-top: 30px;
  }
  #personal-data div {
    display: flex;
    justify-content: end;
  }
  #personal-data div img {
    width: 8%;
    margin: 10px 15px;
    animation: Op0To100 0.8 ease 2s 1;
  }
  #aditional-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    grid-area: aside;
    padding: 10px 20px;
    margin: 10px;
    width: 95%;
    height: 300px;
    border: 1px solid #53FFBA;
    animation: Op0To100 0.8s ease-in;
    border-radius: 15px;
  }
  #aditional-info p {
    font-size: 18px;
    margin: 25px 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  #aditional-info .download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-top: auto;
    padding: 30px;
    width: auto;
    height: 65px;
    transition: 0.5s ease-in;
    color: #261447;
    background-color: #53FFBA;
    text-decoration: none;
    border-radius: 5px;
  }
  .background-education {
    grid-area: studies;
    display: grid;
    margin: 10px;
    gap: 20px;
    border-radius: 15px;
    width: 95%;
    background-color: transparent;
  }
  .background-education #Web-design {
    animation: Op0To100LR 0.8s ease-in-out;
    border-radius: 15px;
  }
  .background-education #javascript-1 {
    animation: Op0To100RL 0.8s ease-in;
    border-radius: 15px;
  }
  .background-education div {
    display: grid;
    padding: 10px;
    border: 1px solid #53FFBA;
    align-items: start;
  }
  .background-education div h1 {
    margin: 0;
    font-size: 28px;
  }
  .background-education div h2 {
    margin: 0;
    font-size: 24px;
    color: #53FFBA;
  }
  .background-education div p {
    font-size: large;
  }
  .background-education div img {
    width: 70%;
    opacity: 60%;
    margin: 5px 3px;
    border-radius: 5px;
    transition: 0.4s ease-in, 0.4s ease-out;
    justify-self: center;
  }
}
@keyframes hover-btn-dark {
  0% {
    background-color: #53FFBA;
    color: #261447;
    transform: translateY(0);
  }
  50% {
    background-color: #2a9d8f;
    color: #2a9d8f;
    transform: translateY(-5px);
  }
  100% {
    background-color: #261447;
    color: #53FFBA;
    transform: translateY(0);
  }
}
@keyframes hover-btn-light {
  0% {
    background-color: #ffa90a;
    color: #261447;
    transform: translateY(0);
  }
  50% {
    background-color: #ffffff;
    color: #ffffff;
    transform: translateY(-5px);
  }
  100% {
    background-color: #261447;
    color: #ffa90a;
    transform: translateY(0);
  }
}
@keyframes Op0To100 {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    pacity: 50%;
    transform: translateY(-5px);
  }
  100% {
    pacity: 100%;
    transform: translateY(0);
  }
}
@keyframes Op0To100LR {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  50% {
    pacity: 50%;
    transform: translateX(-5px);
  }
  100% {
    pacity: 100%;
    transform: translateX(0);
  }
}
@keyframes Op0To100RL {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  50% {
    pacity: 50%;
    transform: translateX(5px);
  }
  100% {
    pacity: 100%;
    transform: translateX(0);
  }
}
@keyframes hover-img {
  0% {
    transform: rotate(0) translateY(0);
  }
  50% {
    transform: rotate(10deg) translateY(-5px);
  }
  100% {
    transform: rotate(0) translateY(0);
  }
}
@keyframes text-languajeIn {
  0% {
    opacity: 0;
    height: 30px;
  }
  50% {
    opacity: 50%;
    height: 30px;
  }
  100% {
    opacity: 100%;
    height: 30px;
  }
}
@keyframes text-languajeOut {
  0% {
    opacity: 100%;
    height: 30px;
  }
  50% {
    opacity: 50%;
    height: 30px;
  }
  100% {
    opacity: 0;
    height: 30px;
  }
}
/* Contenedor del switch */
#Switch-tittle {
  position: fixed;
  top: 63%;
  left: 2%;
  background-color: transparent;
  font-size: small;
}

.switch {
  position: fixed;
  top: 65%;
  left: 2%;
  width: 60px;
  height: 30px;
  background-color: transparent;
}

/* Input (checkbox) oculto */
.switch-input {
  display: none;
}

/* Estilo del fondo del switch */
.switch-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #152039;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilo del círculo del switch */
.switch-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Cambios al activar el switch */
.switch-input:checked + .switch-label {
  background-color: #ffa90a;
}

.switch-input:checked + .switch-label::after {
  transform: translateX(30px);
}

@media (max-width: 834px) {
  .switch, #Switch-tittle {
    opacity: 0;
    margin-left: 1000px;
  }
}
/* Contenedor del switch */
#Switch-tittle-languaje {
  position: fixed;
  top: 50%;
  left: 2%;
  background-color: transparent;
  font-size: small;
}

.switch-languaje {
  position: fixed;
  top: 52%;
  left: 2%;
  width: 60px;
  height: 30px;
  background-color: transparent;
}

/* Input (checkbox) oculto */
.switch-input-languaje {
  display: none;
}

/* Estilo del fondo del switch */
.switch-label-languaje {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #152039;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilo del círculo del switch */
.switch-label-languaje::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Cambios al activar el switch */
.switch-input-languaje:checked + .switch-label-languaje {
  background-color: #48b30b;
}

.switch-input-languaje:checked + .switch-label-languaje::after {
  transform: translateX(30px);
}

@media (max-width: 834px) {
  .switch-languaje, #switch-tittle-languaje {
    opacity: 0;
    margin-left: 1000px;
  }
}
.hidden {
  opacity: 0;
  position: absolute;
  transition: opacity ease;
}

.visible {
  opacity: 1;
  position: static;
  transition: opacity 1.5s ease;
}/*# sourceMappingURL=style_sheet_dark.css.map */