//Imports

//medias query

//------------------------DESKTOP------------------------
@import "desktop_dark";

//------------------------MOBILE-------------------------
@import "mobile";

//------------------------ANIMATIONS---------------------
@import "animations";

//-------------------Switch-BTN-theme--------------------
@import "switch-btn-theme";

//-------------------Switch-BTN-languaje-----------------
@import "switch-btn-languaje";


//clases para los idiomas

.hidden {
    opacity: 0;
    position: absolute;
    transition: opacity ease;
}

.visible {
    opacity: 1;
    position: static;
    transition: opacity 1.5s ease;
}